@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<!-- The main CSS file -->
		<link href="../assets/css/style.css" rel="stylesheet" />
		<script src="../assets/js/jquery.knob.js"></script>
		<!-- jQuery File Upload Dependencies -->
		<script src="../assets/js/jquery.ui.widget.js"></script>
		<script src="../assets/js/jquery.iframe-transport.js"></script>
		<script src="../assets/js/jquery.fileupload.js"></script>
		<!-- Our main JS file -->
		<script src="../assets/js/script.js"></script>
<body>

   

<div id="page-content">
</div>
<form id="upload" action="/Brand/UploadSubmit" method="post" enctype="multipart/form-data">
    <div id="drop">
              <input type="textbox" id="valid" value="false"  />
                <a id="ssrsreport" target="_blank" href="http://10.10.10.53/Reports/Pages/Report.aspx?ItemPath=%2fBrandGoogleAnalytics%2fBrandGoogleDataAnalytics">See Report</a>
				<a id="browse" style="display:block;">Browse</a>
                <a id="wait" style="display:none;">Wait</a>
				<input type="file" name="upload_file" />
                    
            <!--<button id="btnSubmit" type="button">Button</button> -->
			</div>
    <ul>
        <!-- <label for="startDate">Date :</label>
    <input name="startDate" id="startDate" class="date-picker" /> -->

   
				<!-- The file uploads will be shown here -->
			</ul>

   
</form>

</body>

		
